@charset "UTF-8";

/* Footer */
.footer {
	display: block;
	width: 100%;
	min-height: 100px;
	background-color: #1c2632;
	color: rgba(255, 255, 255, 0.8);
}

.footer_title {
	font-weight: 500;
	margin-bottom: 10px;
}

.footer_content, .footer_phonenumber, .footer_email {
	font-weight: 400;
	margin-top: 2px;
	text-align: justify;
}

.footer_content b, .footer_phonenumber b, .footer_email b {
	font-weight: 500;
	font-size: 1.2rem;
}